/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.new-navbar {
  background: white;
  color: white;
  width: 100%;
  padding: 15px 20px;
  position: fixed;
  top: 0;
  z-index: 999;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.brand-name {
  font-size: 1.3rem;
  font-weight: bold;
  color: black;
}

.nav-links {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  right: 0rem;
  display: flex;
  gap: 35px;
  font-size: 18px;
  align-items: center;
}

.nav-links a {
  position: relative;
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: color 0.3s ease;
}
.nav-links a::after {
  content: "";
  position: absolute;
  background: #3a6be5;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.nav-links a:hover:after {
  width: 100%;
}

.login-btn {
  background: #3a6be5;
  color: white;
  padding: 8px 16px;
  border: transparent 2px solid;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;

  transition: all 0.3s ease;
}

.login-btn:hover {
  transition: 0.5s ease-in-out;
  border-radius: 30px;
  background: white;
  color: #3a6be5;
  border: 2px solid #3a6be5;
}
.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.me-info {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: black;
}
.navbar-profile-pic {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid black;
  cursor: pointer;
}

.navbar-username {
  font-weight: 500;
  color: black;
}
.logout-btn {
  margin-left: 10px;
  padding: 6px 12px;
  background-color: #ff5252;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}
.logout-btn:hover {
  background-color: #e04848;
}

/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: black;
  transition: 0.4s ease;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}
.hamburger.open span:nth-child(2) {
  opacity: 0;
}
.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    flex-direction: column;
    background: white;
    padding: 20px 0;
    gap: 20px;
    display: none;
  }

  .nav-links.open {
    display: flex;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  }

  .hamburger {
    display: flex;
  }
}
